<a href="https://colab.research.google.com/github/ssilver01/DAP__/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df = pd.read_csv('/content/drive/MyDrive/서울시 우리마을가게 상권분석서비스(상권영역).csv',encoding='cp949')

In [13]:
df.head()

   기준_년월_코드 상권_구분_코드 상권_구분_코드_명    상권_코드  ...  와이좌표_값  시군구_코드    행정동_코드  형태정보
0    201810        A       골목상권  1000275  ...  454183   11290  11290600   NaN
1    201810        A       골목상권  1000276  ...  454290   11290  11290555   NaN
2    201810        D       발달상권  1001045  ...  442948   11590  11590630   NaN
3    201810        D       발달상권  1001046  ...  443001   11620  11620695   NaN
4    201810        D       발달상권  1001047  ...  443242   11680  11680655   NaN

[5 rows x 10 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1496 entries, 0 to 1495
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년월_코드    1496 non-null   int64
 1   상권_구분_코드    1496 non-null   object
 2   상권_구분_코드_명  1496 non-null   object
 3   상권_코드       1496 non-null   int64
 4   상권_코드_명     1496 non-null   object
 5   엑스좌표_값      1496 non-null   int64
 6   와이좌표_값      1496 non-null   int64
 7   시군구_코드      1496 non-null   int64
 8   행정동_코드      1496 non-null   int64
 9   형태정보        0 non-null      float64
dtypes: float64(1), int64(6), object(3)
memory usage: 117.0+ KB